form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 100%;
}

form .form-group label {
  font-weight: 400;
}

form .form-group input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  font-size: 1rem;
  width: 100%;
}
