@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0090ff;
  --secondary-color: #50e3c2;
  --success-color: #16a34a;
  --warning-color: #f59e0b;
  --error-color: #dc2626;
  --font-color: #333;
  --background-color: #f9f9f9;
  --muted: #767676;
  --border: #d3d9de;
  --surface: #e5e7eb;
  --destructive-color: #ff4d4f;
  --destructive-hover-color: #e04344;
  --radius: 15px;
  --radius-sm: 8px;
}

/* Reset e Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--font-color);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 20px;
}

/* Header */
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

/* Navigation */
.main-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 4px 10px;
  border-radius: var(--radius-sm);
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.link span.material-symbols-outlined {
  vertical-align: middle;
  font-size: 18px;
  color: var(--muted);
}

.link.active,
.link:hover,
.link:focus {
  background: var(--surface);
  outline: none;
}

/* Main Content */

.main-content {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 40px;
}

.main-content h1 {
  font-size: 24px;
  font-weight: 700;
}

.main-content.login-page {
  align-items: center;
  justify-content: center;
}

.login-page {
  background-color: var(--background-color);
}

.login-page .container {
  max-width: 500px;
  text-align: center;
}

.login-page h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color);
}

.login-page p {
  font-size: 16px;
  color: var(--muted);
  margin-block: 20px;
}

.form-content {
  width: 100%;
}

.form-content form {
  width: 100%;
}

.form-content .btn {
  width: 100%;
  margin-top: 12px;
}

/* Footer */
.main-footer {
  background: white;
  border-top: 1px solid var(--border);
  padding: 20px 0;
  font-size: 14px;
  color: var(--muted);
}

.main-footer .container {
  height: auto;
  padding: 0 40px;
}

/* Buttons */
.btn {
  padding: 0 20px;
  height: 48px;
  border-radius: var(--radius);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.btn-sm {
  height: 28px;
  font-size: 12px;
  padding: 0px 6px;
  border-radius: var(--radius-sm);
}

.btn-primary {
  background: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 144, 255, 0.2);
}

.btn-primary:hover {
  background: #007acc;
  transform: translateY(-1px);
}

.btn-primary:active {
  transform: translateY(0);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--font-color);
}

.btn-outline:hover {
  background: var(--surface);
  transform: translateY(-1px);
}

.btn-logout {
  background: var(--destructive-color);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
}

.btn-logout:hover {
  background: var(--destructive-hover-color);
  transform: translateY(-1px);
}

.message-area {
  margin-bottom: 1rem;
  padding: 12px 16px;
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 500;
}

.message-area.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message-area.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Tables */
table {
  /* Estilos de tabelas */
}

.menu {
  display: none;
  cursor: pointer;
}

.menu-content {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  border: 1px solid var(--border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  border-radius: var(--radius);
  width: 350px;
}

.menu-content.active {
  display: flex;
  z-index: 10;
}

.menu-content .user-greeting,
.menu-content .btn-logout {
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  padding: 0 10px;
  margin: 10px 10px 0 10px;
}

.menu-content nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid var(--border);
}

.menu-content nav .link {
  padding: 8px 12px;
}

.portal-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.portal-menu.active {
  display: block;
  z-index: 5;
}

/*Responsividade*/

@media (max-width: 768px) {
  .logo {
    font-size: 16px;
  }

  .main-content {
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .main-header,
  .main-footer,
  .main-content {
    padding: 15px 20px;
  }

  .main-header {
    border-bottom: 1px solid var(--border);
  }

  .main-nav {
    display: none;
  }

  .menu {
    display: block;
  }
}
