
# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

DIVISAO-DE-TAREFAS.md
FRONTEND-GUIDE.md
GUIA-ESTRUTURA-HTML.md

# Logs
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporários
*.tmp
*.temp
*~
